*{
    margin: 0px;
}
body{
    width: 100%;
    background-color: beige;
}
.pg1{
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(27, 207, 207);
    position: relative;
}
.menu1{
    flex-basis: 15%;
    font-style: italic;
    font-weight: 900;
    position: relative;
    animation-name: divanm;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes divanm{
    0%{
        color: crimson;
    }
    25%{
        color: black;
    }
    50%{
        color: blue;
    }
    75%{
        color: deeppink;
    }
    100%{
        color: chartreuse;
    }
}

.x2{
    position: relative;
    display: inline-block;
}
.x2:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: deeppink;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .x2:hover:after{
  transform: scaleX(1);
  transform-origin: bottom center;
  }
.menu2{
    height: 12vh;
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: darkgreen;
    text-align: center;
}
.menu2:hover{
    background-color: black;
}
.menu2 h2{
    color: white;
}
.menu2 h5{
    color: white;
}
.front{
    width: 100%;
    height: 90vh;
}
.dotcon{
    position: absolute;
    width:80%;
    bottom: 10px;
    left: 10%;
    justify-content: center;
    display: flex;
   }
   .dotcon div{
    padding: 3px;
   }
   .fa-solid{
    color:rgb(13, 70, 175);
   }
   .fa-regular{
    color:rgb(107, 34, 5);
   }
.pg2{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 5vh;
}
.pg20{
    height: 10vh;
    width: 100%;
    font-size: 30px;
    color: red;
    text-align: center;
    top: 20px;
}
.side{
    width: 30%;
    height: 5vh;
    font-size: 20px;
    color: white;
    background-color: rgb(17, 19, 16);
    flex-direction: row;
    position: relative;
    left: 50%;
    display: none;
}
.outside:hover .side{
    display: block;
}
.pg21{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.pg21 a{
    text-decoration: none;
    color: green;
    font-size: 20px;
}
.pg22{
    flex-basis: 40%;
    display: flex;
    align-content: center;
    justify-items: center;
}
.pg22 img{
    width: 30%;
    height: 40vh;
    position: relative;
    top: 15vh;
    
}
.pg23{
    width: 75%;
    height: 100vh;
    position: relative;
    text-align: center;
}
.pg24{
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    color :deeppink;
    position: relative;
    text-align: center;
}
.pg25{
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    color :deeppink;
    position: relative;
    text-align: center;
}
.pg26{
    font-size: 15px;
    font-weight: 500;
    color: blueviolet;
    position: relative;
    text-align: center;
    bottom: 235px;
}
.pg2 button{
    width: 35%;
    height: 8vh;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    color :deeppink;
    border-color: deeppink;
    position: relative;
    bottom: 200px;
    left: 300px;
}
.outside2{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.pg3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.pg31{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pg31{
    flex-shrink: 20%;
}
.pg32{
    flex-basis: 80%;
}
.pg31 img{
    width: 120px;
    height: 120px;
    flex-basis: 20%;
   
}
.pg311{
    font-size: 35px;
    color: green;
    flex-basis: 60%;
    text-align: center;
    
}
.pg312 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    flex-basis: 20%;
}
.pg32{
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    position: relative;
    top: 5vh;
}
.pg32 img{
    width: 85%;
    height: 30vh;
}
.pg32 h4{
    position: relative;
    top: 10px;
}
.pg4{
    width: 100%;
    height: 100vh;
    display: flex;
}
.pg40{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10vh;
}
.pg41 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid orangered;
}
.pg42{
    font-style: italic;
    color: forestgreen;
    font-size: 20px;
    font-weight: 600;
}
li{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: purple;
    line-height: 35px;
}
.pg43{
    flex-basis: 65%;
    position: relative;
    top: 10vh;
    display: flex;
}
.pg43 img{
    width: 60%;
    height: 50vh;
}
.pg5{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.pg51{
    background-color: rgb(13, 124, 115);
    width: 80%;
    height: 65vh;
    border-radius: 25%;
}
.pg51:hover{
    background-color: rgb(165, 211, 0);
   }
.pg52{
    background-color: rgb(13, 124, 115);
    width: 80%;
    height: 65vh;
    border-radius: 25%;

   }
   .pg52:hover{
    background-color: darkviolet;
   }
.pg51 div{
    font-size: 20px;
    position: relative;
    top: 25px;
    text-align: center;
}
.pg52 div{
    font-size: 20px;
    position: relative;
    bottom: -40px;
    text-align: center;
}
.pg51 img{
    width: 50%;
    height: 45vh;
    border-radius: 10%;
    position: relative;
    top: 10vh;
    left: 25%;
}
.pg52 img{
    width: 50%;
    height: 45vh;
    border-radius: 10%;
    position: relative;
    top: 5vh;
    left: 25%;
}
.combind{
    width: 100%;
    height: 70vh;
    display: flex;
}
.pg6{
    height: 70vh;
    width: 50%;
    background-image: url("the-eatery.jpg");
    background-size: cover;
}
.pg6 a{
    font-size: 25px;
    background-color: chartreuse;
    border: 10px solid rgb(184, 46, 184);
    color: white;
    text-align: center;
}
.pg7{
    height: 70vh;
    width: 50%;
    background-image: url("order food.jpg");
    background-size: cover;
}
.pg7 a{
    background-color: chartreuse;
    border: 10px solid rgb(184, 46, 184);
    color: white;
    text-decoration: none;
    text-align: center;
}
.pg8{
    display: flex;
    width: 100%;
    height: 54.6vh;
    position: relative;
    top: 5vh;
}
.pg81{
    background-color: yellow;
    flex-basis: 25%;
}
.pg811{
    font-size: 30px;
    color: white;
    line-height: 45px;
}
.pg812{
    font-size: 20px;
    color: white;
    line-height: 40px;
    position: relative;
    top: 7vh;
}
.pg812:hover{
    text-decoration: none;
}
.pg82{
    flex-basis: 50%;
}
.pg82 video{
    width: 100%;
}
.pg83{
    background-color: rgb(18, 156, 36);
    flex-basis: 25%;
}
.pg9{
    background-color: lightcoral;
    height: 60vh;
    position: relative;
    top: 5vh;
}
.pg9 h1{
    position: relative;
    top: 10vh;
    text-align: center;
    color: darkgreen;
}
.pg91{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pg91 img{
    width: 15%;
    height: 15vh;
    position: relative;
    top: 5vh;
}
.pg92{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pg92 h3{
    color: white;
}
.pg92 hr{
    width: 80%;
}
.pg921 div{
    color: white;
    line-height: 30px;
}
.pg921{
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.pg921:hover h3{
    color: crimson;
}
.pg921:hover div{
    color: green;
}
.pg10{
    width: 100%;
    height: 55vh;
    background-color: lightcoral;
    position: relative;
    top: 15vh;
}
.pg100{
    width: 100%;
    height: 7vh;
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
}
.pg100 h2{
    color: white;
}
.pg100:hover h2{
    color: crimson;
}
.pg101{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
}
.a{
    color: deeppink;
    padding-top: 1.2vh;
    padding-left: 27%;
}
.a:hover{
    transform: rotate(360deg);
}
.a{
    transition: widtg 1s, height 1s, transform 1s;
}
.b{
    padding-top: 1.2vh;
    padding-left: 24%;
    color: red;
}
.b:hover{
    transform: rotate(360deg);
}
.b{
    transition: widtg 1s, height 1s, transform 1s;
}
.c{
    padding-top: 1vh;
    padding-left: 25%;
    color: rgb(0, 140, 255);
    
}
.c:hover{
    transform: rotate(360deg);
}
.c{
    transition: widtg 1s, height 1s, transform 1s;
}
.d{
    padding-top: 1vh;
    padding-left: 28%;
    color: blue;
}
.d:hover{
    transform: rotate(360deg);
}
.d{
    transition: widtg 1s, height 1s, transform 1s;
}
.e{
    padding-top: 1vh;
    padding-left: 25%;
    color: rgb(0, 102, 255);
}
.e:hover{
    transform: rotate(360deg);
}
.e{
    transition: widtg 1s, height 1s, transform 1s;
}

.pg102{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
    color: white;
}
.pg102:hover h2{
    color: crimson;
}
.pg102:hover div{
    color: green;
}
.pg103{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 5vh;
    color: white;
}
.pg103:hover div{
    color: green;
}
.pg103  img{
    width: 250px;
    height: 25px;
}
